In [1]:
print('hello world')

hello world

In [4]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
df.shape

(16598, 11)

In [5]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [6]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [7]:
df.describe

<bound method NDFrame.describe of         Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]>

In [8]:
print('ocean')

ocean

In [9]:
#df.describe()

In [31]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns=['genre'])
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y)
predictions = model.predict([ [21, 1], [22, 0] ])
predictions

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [32]:
import pandas as pd
#decison tree algorithm
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuary_score

music_data = pd.read_csv('music.csv')
x = music_data.drop(columns=['genre'])
y = music_data['genre']
X_train, x

model = DecisionTreeClassifier()
model.fit(x, y)
predictions = model.predict([ [21, 1], [22, 0] ])
predictions

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [34]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image
from pydot import graph_from_dot_data
from sklearn import metrics

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.metrics import classification_report

from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

datapegawaipake = pd.read_csv('C://Users/Research Assistant/Desktop/Machine Learning/data_pegawai_pake_baru.csv',delimiter=',')

datapegawaipake['SEX'] = datapegawaipake.GENDER.astype('category').cat.codes

datapegawai = datapegawaipake[['SEX', 'DURASI', 'LEVEL_JOB', 'DEPT', 'RESIGN']]

dfPegawai = datapegawaipake[['GENDER', 'DURASI', 'SENIOR', 'LEVEL_JOB', 'DEPT', 'RESIGN']]

cTResignGender = pd.crosstab(index=dfPegawai['RESIGN'],columns=dfPegawai['GENDER'])
cTResignGender.plot.bar()


cTResignDept = pd.crosstab(index=dfPegawai['RESIGN'],columns=dfPegawai['DEPT'])
cTResignDept.plot.bar(figsize=(30,10))


cTResignLevelJob = pd.crosstab(index=dfPegawai['RESIGN'],columns=dfPegawai['LEVEL_JOB'])
cTResignLevelJob.plot.bar()

cTResignLevelJob = pd.crosstab(index=dfPegawai['RESIGN'],columns=dfPegawai['LEVEL_JOB'])
cTResignLevelJob.plot.bar()

dfPegawai.boxplot(column='DURASI', by='RESIGN', figsize=(5,6))

cTResignSenior = pd.crosstab(index=dfPegawai['RESIGN'],columns=dfPegawai['SENIOR'])
cTResignSenior.plot.bar()

cTResignNamaDept = pd.crosstab(index=datapegawaipake['RESIGN'],columns=datapegawaipake['NAMA_DEPT'])
cTResignNamaDept.plot.bar()




from sklearn.feature_selection import chi2

dfPegawai['SEX'] = dfPegawai.GENDER.astype('category').cat.codes
df = dfPegawai[['SEX', 'DURASI', 'LEVEL_JOB', 'DEPT', 'RESIGN']]

X = df.drop('RESIGN',axis=1)
y = df['RESIGN']

chi_scores = chi2(X,y)


nilai_chi = pd.Series(chi_scores[0],index = X.columns)
p_values = pd.Series(chi_scores[1],index = X.columns)
#p_values.sort_values(ascending = False , inplace = True)

nilai_chi.plot.bar()
p_values.plot.bar()

##################################################################################################
##############################PREDIKSI TANPA SELEKSI FITUR MENGGUNAKAN DECISION TREE #############
##################################################################################################
df = datapegawai[['SEX', 'DURASI', 'LEVEL_JOB', 'DEPT', 'RESIGN']]
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:4], df.iloc[:,4], test_size=0.2)

#criterion="entropy", max_depth=3
#dt = DecisionTreeClassifier()

dt = DecisionTreeClassifier(criterion="entropy")
dt.fit(X_train, y_train)

# dot_data = StringIO()
# export_graphviz(dt, out_file=dot_data, feature_names=datapegawaipake.iloc[:,2:5].columns)
# (graph, ) = graph_from_dot_data(dot_data.getvalue())
# Image(graph.create_png())

y_pred = dt.predict(X_test)

print("Accuracy Decision Tree:", metrics.accuracy_score(y_test, y_pred))

akurasiDT = metrics.accuracy_score(y_test, y_pred)


target_names = ['ACTIVE', 'RESIGN']

print(classification_report(y_test, y_pred, target_names=target_names))


hasil_prediksi = confusion_matrix(y_test, y_pred)
import seaborn as sns
sns.heatmap(hasil_prediksi, annot=True)

ModuleNotFoundError: No module named 'pydot'

In [33]:
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical